{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Contacts</h1>
    <br>
    <form class="form-inline mb-3">
      <div class="form-group">
        <input type="text" class="form-control" id="search-input" placeholder="Search Contacts">
      </div>
      <button type="button" class="btn btn-primary" id="search-button">Search</button>
    </form>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>City</th>
          <th>Job Title</th>
          <th>Company</th>
          <th>About</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.fullname_me }}</td>
          <td>{{ user.email_me }}</td>
          <td>{{ user.phonenumber_me }}</td>
          <td>{{ user.city_me }}</td>
          <td>{{ user.jobtitle_me }}</td>
          <td>{{ user.company_me }}</td>
          <td>{{ user.about_me }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    var searchButton = document.getElementById('search-button');
    var searchInput = document.getElementById('search-input');
    searchButton.addEventListener('click', function() {
      var searchTerm = searchInput.value.toLowerCase();
      var rows = document.getElementsByTagName('tr');
      for (var i = 0; i < rows.length; i++) {
        var cells = rows[i].getElementsByTagName('td');
        var match = false;
        for (var j = 0; j < cells.length; j++) {
          if (cells[j].innerHTML.toLowerCase().indexOf(searchTerm) > -1) {
            match = true;
            break;
          }
        }
        if (match) {
          rows[i].style.display = '';
        } else {
          rows[i].style.display = 'none';
        }
      }
    });
  </script>
{% endblock %}
