{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="jumbotron text-center">
  <h1>Contacted</h1>
  <p>Welcome {{ current_user.fullname_me}}!</p>
</div>

  <div class="row">
    <div class="col-sm-4">
      <h3>Chat</h3>
      <p>We allow groups to connect through our chat feature and chat with the entire group</p>
      <a href="{{ url_for('chat') }}" class= "btn btn-primary btn-block" role="button"> Open Chat </a>
    </div>
    <div class="col-sm-4">
      <h3>Contacts</h3>
      <p>We allow users to both create contacts and search contacts of those within their group</p>

      <a href="{{ url_for('contacts') }}" class= "btn btn-primary btn-block" role="button"> Open Contacts </a>
    </div>
    <div class="col-sm-4">
      <h3>Events</h3>
      <p>We allow users to create events for users within thier group for certain times</p>
      <a href="{{ url_for('events') }}" class= "btn btn-primary btn-block" role="button"> Open Events </a>
    </div>
  </div>


</div>

{% endblock %}
